:root {
  --background-color: #ffffff;
  --font-color: e50914;
  --font-bold: 700;
  --font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

  font-size: 15px;
  gap: 2rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 95%;
  color: #e50914;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

li:hover {
  color: #3c3233;
}

.section {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;

  flex-direction: row;
}
.all-sections {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.home-layout {
  width: 300px;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.h-c {
  border: 1px solid black;
}

.image-content {
  width: 100%;
  height: 40vh;
}
.head-name {
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
}

.content-sec {
  width: 100%;
  height: 20vh;
}

.util-box {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 720px) {
  .isDisplay {
    display: none;
  }
  ul {
    justify-content: end;

    font-size: 20px;
    top: 0;
    bottom: auto;
    gap: 1rem;
  }

  li:hover {
    color: rgb(47, 35, 35);
    background-color: #e50914;
  }
  .all-sections {
    margin-top: 50px;
  }
  .section {
    height: 80vh;
  }
}
