.heading {
  color: black;
  font-size: larger;
}

.box-model {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  /* background-color: blueviolet; */
  /* background-image: linear-gradient(to-botoom, pink, red, rgb(168, 17, 0)); */
  background-image: radial-gradient(pink, red, rgb(168, 17, 0));
  padding: 20px;
  margin: 30px;
}
