:root {
  --background-color: #ffffff;
  --font-color: e50914;
  --font-bold: 700;
  --font-family: "Poppins", sans-serif;
}

* {
  background-color: #ffffff;
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: static;

  width: 90%;
  position: fixed;
  gap: 1rem;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  bottom: 0;
  top: auto;
  cursor: pointer;
  color: #e50914;
}

li {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: center;
  gap: 5px;
}

li:hover {
  color: #3c3233;
}

@media (min-width: 720px) {
  .isDisplay {
    display: none;
  }
  ul {
    justify-content: end;
    font-size: 20px;
    top: 0;
  }

  li:hover {
    color: rgb(47, 35, 35);
    background-color: #e50914;
  }
}
