html {
  background-color: #213547;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #1a1a1a;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}

.div {
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: beige;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  padding: 10px;
  /* box-shadow: 0px, white; */
}

.input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
}

label {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 20px;
}
