* {
  padding: 0;
  margin: 0;
}

.container {
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-image: linear-gradient(skyblue, rgb(11, 11, 82));
  margin: 250px 400px;
  border-radius: 50px;
}
.logdetais {
  align-items: center;
  padding-left: 150px;
  justify-content: center;
}

.image {
  width: 500px;
  height: 100px;
  padding-bottom: 50px;
}
.buttons {
  align-items: center;
  padding-left: 150px;
}
.save-btn {
  font-size: 20px;
}
.clear-btn {
  font-size: 20px;
}
